// scroll button
.scroll-to-top {
  a {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    padding: 8px 0;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 10;
  }
  &__icon {
    font-size: 2rem;
    color: $white;
  }
}

// hero section
.hero {
  margin-top: -12rem;
  #carouselExampleCaptions {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
  }
  .carousel-inner {
    height: 100vh;
    width: 100%;
    .carousel-item {
      height: 100vh;
      width: 100%;
      img {
        filter: brightness(60%);
        -webkit-filter: brightness(60%);
      }
    }
  }
  .hero__content {
    width: 50%;
    @include absoluteCenter;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-shadow: 0 0 0.4rem $black;
    text-align: center;
    @include media-breakpoint-down(md) {
      width: 90%;
    }

    .btn-rounded--yellow-outline {
      color: $white !important;
    }
  }

  &__heading {
    margin-bottom: 3rem;
    font-family: $font-special;
    font-size: 4.8rem;
    font-weight: 700;
    animation: slide-down 1.5s ease-out;
    -webkit-animation: slide-down 1.5s ease-out;
  }

  &__desc {
    margin-bottom: 3rem;
    animation: slide-up 1.5s ease-out;
    -webkit-animation: slide-up 1.5s ease-out;
  }

  a {
    animation: slide-up 1.7s ease-out;
    -webkit-animation: slide-up 1.7s ease-out;
  }
}

// about section
.about {
  padding: 60px 0;
  background-color: $floralwhite;

  &__video-bg {
    position: relative;
    background-image: url("../../../assets/images/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 -7.5px;
    min-height: 400px;
    width: -webkit-fill-available;
    width: -moz-available;
  }

  &__play-btn {
    @include absoluteCenter;
    top: 40%;
    span {
      em {
        font-size: 6rem;
        color: $yellow;
        &:hover {
          color: $yellow--hover;
        }
      }
    }
  }

  &__content {
    padding: 0 80px;
    @include media-breakpoint-down(lg) {
      padding: 30px 0 0;
    }
  }

  &__heading {
    font-family: $font-special;
    font-size: 34px;
    color: $text;
    span {
      font-weight: 700;
    }
  }

  &__para {
    color: $light-text;

    &--italic {
      font-style: italic;
    }
  }

  &__list {
    list-style: none;

    &-item::before {
      content: "\2714";
      color: $yellow;
      font-weight: bold;
      display: inline-block;
      width: 1.3em;
      margin-left: -1em;
    }
  }
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 1rem solid $yellow;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;
  -webkit-animation: pulse-border 1.5s linear infinite;
  &--border-1 {
    animation-delay: 1s;
  }
  &--border-2 {
    animation-delay: 1.5s;
  }
}

// why us section
.why-us {
  padding: 60px 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: $yellow--hover;
}

.box {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  margin-bottom: 2.4rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  &__number {
    color: $yellow;
    font-size: 2.8rem;
    font-weight: 700;
  }

  &__heading {
    margin: 20px 0;
    font-size: 2.4rem;
    font-family: $font-special;
    font-weight: 600;
  }

  &__desc {
    color: $light-text;
    font-size: 1.4rem;
  }

  &:hover {
    background-color: $yellow--hover;
    padding: 30px 30px 70px;
    .box__number,
    .box__heading,
    .box__desc {
      color: $white;
    }
  }
}

// menu section
.menu {
  padding: 60px 0;
  li {
    margin: 0 3px 10px;
  }

  &-item {
    margin-top: 30px;
    &__content {
      display: flex;
      justify-content: space-between;
    }
    &__name {
      text-decoration: none;
      color: $yellow;
      font-weight: 600;
      &:hover {
        color: $yellow--hover;
      }
    }
    &__price {
      font-weight: 500;
      color: $strong-text;
    }
    &__desc {
      font-size: 1.4rem;
      color: $light-text;
      font-style: italic;
    }
  }
}

// specials section
.specials {
  padding: 60px 0;
  button {
    padding: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    color: $strong-text;
    @include media-breakpoint-up(lg) {
      padding: 12px 15px 12px 0;
      text-align: left;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      &:hover {
        color: $yellow--hover;
      }
    }
  }

  .nav-pills {
    .nav-link {
      &:hover {
        color: $yellow--hover;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .nav-pills {
      .nav-link {
        border-radius: 0;
        border-right: 2px solid $light-border;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
      }
      .nav-link.active {
        background-color: transparent;
        color: $yellow--hover !important;
        border-right: 2px solid $yellow--hover;
      }
    }
  }

  &__heading {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-family: $font-special;
    font-weight: 600;
    color: $strong-text;
  }

  &__paraItalic {
    margin-bottom: 16px;
    font-style: italic;
    color: $light-text;
  }

  &__paraBot {
    color: $light-text;
  }
}

// event section
.event {
  padding: 60px 0;
  position: relative;
  background-image: url("../../../assets/images/events-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: $white;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($black, 0.7);
  }
  .container {
    position: relative;
    h2 {
      color: $white;
      z-index: 2;
    }
  }

  &__container {
  }
  &__heading {
    font-size: 2.6rem;
    font-weight: 600;
    font-family: $font-special;
    color: $yellow;
    margin-bottom: 15px;
  }
  &__price {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 15px;
    span {
      border-bottom: 2px solid $yellow;
    }
  }
  &__paraItalic {
    font-style: italic;
    margin-bottom: 16px;
  }
  &__list {
    list-style: none;
    margin-bottom: 16px;
  }
  &__list-item {
    margin-bottom: 10px;
    &::before {
      content: "\2714";
      color: $yellow;
      font-weight: bold;
      display: inline-block;
      width: 1.3em;
      margin-left: -1em;
    }
  }
}

.book-a-table {
  padding: 60px 0;
}

.gallery {
  padding: 60px 0;
}

.box-img {
  overflow: hidden;
  margin-bottom: 14px;
  &__img {
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}

.carousel-indicators [data-bs-target] {
  background-color: $yellow;
}

// chefs section
.chefs {
  padding: 60px 0;
  position: relative;
  background-image: url("../../../assets/images/chefs-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($white, 0.7);
  }
  .container {
    position: relative;
  }

  .chef-card {
    position: relative;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    &__info {
      color: $white;
      position: absolute;
      bottom: -110px;
      text-align: center;
      background-color: $white;
      left: 5%;
      right: 5%;
      padding: 20px 0 10px;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
      border-radius: 0.4rem;
      -webkit-border-radius: 0.4rem;
      -moz-border-radius: 0.4rem;
      -ms-border-radius: 0.4rem;
      -o-border-radius: 0.4rem;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
    }

    &__position {
      font-size: 1.4rem;
      font-weight: 100;
      font-style: italic;
      margin: 10px 0;
    }
    &__social-list {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 4px;
        a {
          font-size: 1.8rem;
          color: $text;
          &:hover {
            color: $strong-text;
          }
        }
      }
    }

    &:hover {
      .chef-card__info {
        bottom: 0px;
        background-color: $yellow;
      }
    }
  }
}

// testimonials section
.testimonials {
  padding: 60px 0;
  position: relative;
  background-image: url("../../../assets/images/testimonials-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($black, 0.7);
  }

  .test-info {
    text-align: center;
    color: $white !important;
    margin-bottom: 42px;
    &__img {
      width: 100px;
      border-radius: 50%;
      border: 6px solid rgba($white, 0.15);
      margin: 0 auto;
    }
    &__name {
      font-size: 2rem;
      font-weight: 500;
      margin: 10px 0 5px 0;
    }
    &__position {
      margin-bottom: 15px;
      font-size: 1.4rem;
      font-weight: 100;
    }
    &__star {
      color: $yellow;
      margin-bottom: 10px;
    }
    &__quote {
      font-style: italic;
      margin: 0 10% 0 10%;
    }
  }
}

// contact section
.contact {
  padding: 60px 0;
  &-info {
    position: relative;
    font-size: 14px;
    &:hover {
      .icon {
        color: $white;
        &::after {
          background-color: $yellow--hover !important;
        }
      }
    }
    &__heading,
    &__desc {
      margin-left: 54px;
    }
    &__heading {
      font-size: 18px;
      font-weight: 600;
      color: $strong-text;
    }
  }
}
